<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Kiểm kê hàng hóa</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="row">
            <div class="col-md-12">
                <form class="form-control mt-3" *ngIf="isShowForm">
                    <div class="row">
                        <div class="col-md-6" *ngIf="!isUpdate">
                            <label class="form-label">Mã phiếu</label>
                            <input type="text" class="form-control" placeholder="Nhập mã phiếu" [(ngModel)]="Mapx"
                                [ngModelOptions]="{standalone:true}">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Sản phẩm</label>
                                <select [(ngModel)]="Sanpham" class="form-control">
                                    <option *ngFor="let n of danhsach_sp" class="form-control">{{n.Sanpham}}</option>
                                </select>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Ngày kiểm</label>
                            <input type="text" class="form-control" placeholder="Nhập ngày tạo" [(ngModel)]="Ngaytao"
                                [ngModelOptions]="{standalone:true}">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Tồn kho</label>
                            <input type="text" class="form-control" placeholder="Tonkho" [(ngModel)]="Tonkho"
                                [ngModelOptions]="{standalone:true}">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Số Lượng Xuất</label>
                            <input type="text" class="form-control" placeholder="Nhập số lượng" [(ngModel)]="Slx"
                                [ngModelOptions]="{standalone:true}">
                        </div>
                        
                    </div> 
                    <div style="margin-top: 10px">
                        <button type="button" class="btn btn-primary me-2" (click)="addBook()">Cập Nhật</button>
                        <button type="button" class="btn btn-danger" (click)="isShowForm=false"> Hủy </button>
                    </div>
                </form>
            </div>
            
            <div class="col-md-12">
                <button type="button" class="btn btn-success mb-3" (click)="isShowForm=true; isAddBook=true;"
                    *ngIf="!isShowForm">Kiểm kê</button>

                <table class="table ">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Số phiếu</th>
                            <th>Sản phẩm</th>
                            <th>Ngày kiểm</th>
                            <th>Số lượng nhập</th>
                            <th>Số lượng xuất</th>
                            <th>Tồn kho</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let kh of danhsach_xuathang">
                            <td scope="row">{{ kh.Mapx}}</td>
                            <td>{{ kh.Sanpham}}</td>
                            <td>{{ kh.Ngaytao }}</td>
                            <td>{{ kh.Tonkho }}</td>
                            <td>{{ kh.Slx }}</td>
                            <td>{{ kh.kq1 }}</td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>