<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Quản lý sản phẩm</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="row">
            <div class="col-md-12">
                <form class="form-control mt-3" *ngIf="isShowForm">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label">Tên sản phẩm</label>
                            <input type="text" class="form-control" placeholder="Nhập tên sản phẩm" [(ngModel)]="title"
                                [ngModelOptions]="{standalone:true}">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Loại sản phẩm</label>
                            <input type="text" class="form-control" placeholder="Nhập loại sản phẩm"
                                [(ngModel)]="category" [ngModelOptions]="{standalone:true}">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Giá bán</label>
                            <input type="text" class="form-control" placeholder="Nhập Giá bán" [(ngModel)]="price"
                                [ngModelOptions]="{standalone:true}">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Mô tả</label>
                            <input type="text" class="form-control" placeholder="Nhập mô tả" [(ngModel)]="description"
                                [ngModelOptions]="{standalone:true}">
                        </div>
                    </div>
                    <div style="margin-top: 10px">
                        <button type="button" class="btn btn-primary me-2" (click)="addBook()">Cập Nhật</button>
                        <button type="button" class="btn btn-danger" (click)="isShowForm=false"> Hủy </button>
                    </div>
                </form>
            </div>
            <div class="col-md-12">
                <button type="button" class="btn btn-success mb-3" (click)="isShowForm=true; isAddBook=true;"
                    *ngIf="!isShowForm">Thêm mới</button>

                <table class="table ">
                    <thead class="thead-inverse">
                        <tr>
                            <th>id</th>
                            <th>Tên sản phẩm</th>
                            <th>Loại sản phẩm</th>
                            <th>Giá bán</th>
                            <th>Mô tả</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let xh of danhsach_sanpham">
                            <td scope="row">{{ xh.id}}</td>
                            <td>{{ xh.title}}</td>
                            <td>{{ xh.category }}</td>
                            <td>{{ xh.price }}</td>
                            <td>{{ xh.description }}</td>
                            <td>
                                <mat-icon type="button" (click)="removeBook(xh.id)">delete</mat-icon>
                                <mat-icon (click)="updateBook(xh.id)" type="button">edit</mat-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>