<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.svg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon>input</mat-icon>Quản lý nhập hàng
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/xuathang"> 
    <mat-icon>import_export</mat-icon> Quản lý xuất hàng
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/product"> 
    <mat-icon>dns</mat-icon> Quản lý sản phẩm
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/thongke"> 
    <mat-icon>assessment</mat-icon> Thống kê doanh thu
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/kiemke"> 
    <mat-icon>store</mat-icon> Kiểm kê
  </a>

  <h2 matSubheader class="mt-2">DESIGN BY</h2>
  <a mat-list-item routerLinkActive="list-item-active"> 
    <mat-icon>person_outline</mat-icon>Nguyễn Thị Phương Thảo
  </a>
  <a mat-list-item routerLinkActive="list-item-active" > 
    <mat-icon>person</mat-icon>Trần Hồ Minh Mẫn
  </a>
</mat-nav-list>
