<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Quản lý xuất hàng</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="row">
            <div class="col-md-12">
                <form class="form-control mt-3" *ngIf="isShowForm">
                    <div class="row">
                        <div class="col-md-6" *ngIf="!isUpdate">
                            <label class="form-label">Mã phiếu</label>
                            <input type="text" class="form-control" placeholder="Nhập mã phiếu" [(ngModel)]="Mapx"
                                [ngModelOptions]="{standalone:true}">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Sản phẩm</label>
                            <input type="text" class="form-control" placeholder="Nhập tên sản phẩm"
                                [(ngModel)]="Sanpham" [ngModelOptions]="{standalone:true}">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Ngày tạo</label>
                            <input type="text" class="form-control" placeholder="Nhập ngày tạo" [(ngModel)]="Ngaytao"
                                [ngModelOptions]="{standalone:true}">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Tồn kho</label>
                            <input type="text" class="form-control" placeholder="Tonkho" [(ngModel)]="Tonkho"
                                [ngModelOptions]="{standalone:true}">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Số Lượng Xuất</label>
                            <input type="text" class="form-control" placeholder="Nhập số lượng" [(ngModel)]="Slx"
                                [ngModelOptions]="{standalone:true}">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Gía bán</label>
                            <input type="text" class="form-control" placeholder="Nhập giá bán" [(ngModel)]="Giaban"
                                [ngModelOptions]="{standalone:true}">
                        </div>
                    </div>
                    <div style="margin-top: 10px">
                        <button type="button" class="btn btn-primary me-2" (click)="addBook()">Cập Nhật</button>
                        <button type="button" class="btn btn-danger" (click)="isShowForm=false"> Hủy </button>
                    </div>
                </form>
            </div>
            <div class="col-md-12">
                <button type="button" class="btn btn-success mb-3" (click)="isShowForm=true; isAddBook=true;"
                    *ngIf="!isShowForm">Tạo phiếu xuất hàng</button>

                <table class="table ">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Số phiếu</th>
                            <th>Sản phẩm</th>
                            <th>Ngày tạo</th>
                            <th>Tồn kho</th>
                            <th>Số lượng xuất</th>
                            <th>Giá bán</th>
                            <th>Thành tiền</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let xh of danhsach_xuathang">
                            <td scope="row">{{ xh.Mapx}}</td>
                            <td>{{ xh.Sanpham}}</td>
                            <td>{{ xh.Ngaytao }}</td>
                            <td>{{ xh.Tonkho }}</td>
                            <td>{{ xh.Slx }}</td>
                            <td>{{ xh.Giaban }}</td>
                            <td>{{ xh.kq }}</td>
                            <td>
                                <mat-icon type="button" (click)="removeBook(xh.Mapx)">delete</mat-icon>
                                <mat-icon (click)="updateBook(xh.Mapx)" type="button">edit</mat-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>